* {
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    border: none;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
           -box-sizing: border-box;
}


/**
* Estilo da página de login
*=======================================
*/

div.background{
    position: absolute;
    left: 0;
    width: calc(100% - 300px);
    height: 100%;
    background-image: url(../assets/images/calculator.jpg);
    background-size: cover;
}


section#conteudo-view{
    position: absolute;
    right: 0;
    float: right;
    padding: 20px;
    width: 400px;
    height: 100%;
    background: forestgreen;
}

section#conteudo-view h1{
    float: left;
    width: 100%;
    margin-top: 100px;
    font: 3em 'Fredoka One', cursive;
    color: #f3f3f3;
}

section#conteudo-view h3,
section#conteudo-view form p{
    float: left;
    width: 100%;
    font: .8em 'Fredoka One', cursive;
    color: #f9f9f9;
}

section#conteudo-view form{
    margin-top: 40px;
}

section#conteudo-view form,
section#conteudo-view form label{
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

section#conteudo-view form p{
    font-size: 1.25em;
}

section#conteudo-view form input[type="submit"],
section#conteudo-view form label input{
    font: 1em 'Arial';
    float: left;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border-radius: 20px;
    border: 2px solid #52ca9b;
    color: #959595;    
}

section#conteudo-view form input[type="submit"]{
    background: #52ca9b;
    text-align: center;
    font: .8em 'Fredoka One', cursive;
    width: 60%;
    float: right;
    color: #f9f9f9;
    font-size: 1.2em;
}